<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://Java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>HelloSpringMVCandSpringData</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<!-- When the app is run on the server, Tomcat will load out applicationContext.xml -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
		<!-- This automates the create of the Application Context so that Tomcat 
			start up both the instantiation of beans and our servlet -->
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/register</url-pattern> <!-- http://localhost:8080/HelloSpringMVCandSpringData/....... -->
		<url-pattern>/findAllHeroes</url-pattern> 
		<url-pattern>/*</url-pattern> <!--  this just means all -->
	</servlet-mapping>


</web-app>